@model InternshipWebTask.ViewModels.BookAddViewModel

<div class="modal fade" id="updBookModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Редактировать книгу</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="post" asp-action="UpdateBook" asp-controller="Author">
                    <div asp-validation-summary="ModelOnly"></div>
                    <input type="hidden" id="bookId" name="id" value="">
                    <input type="hidden" name="AuthorId" value="@Model.AuthorId">
                    <div class="form-group">
                        <label asp-for="BookName"></label>
                        <input asp-for="BookName" value="@Model.BookName" class="form-control" autocomplete="username" aria-required="true" id="bookName">
                        <span asp-validation-for="BookName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="PageQty"></label>
                        <input asp-for="PageQty" value="@Model.PageQty" class="form-control" autocomplete="username" aria-required="true" id="pageQty" >
                        <span asp-validation-for="PageQty" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Genre"></label>
                        <select class="form-select form-select-sm" aria-label=".form-select-sm example" asp-for="Genre">
                            <option selected disabled hidden></option>
                            <option value="Хоррор">Хоррор</option>
                            <option value="Триллер">Триллер</option>
                            <option value="Фентези">Фентези</option>
                        </select>
                    </div>
                    
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                        <button type="submit" class="btn btn-primary">Сохранить</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

